//Style Variables
$top-bar-bg: rgb(32, 121, 255);
$primary-btn-bg: rgb(32, 121, 255);
$top-bar-bg-text: #fff;
$global-cursor: pointer;
$global-flex: flex;
$global-justify-content: space-between;
$h4-font-size: 1.1rem;
$span-color: rgb(32, 121, 255);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #eee;
}

.wrapper {
  width: 100vw;
  height: 100vh;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

span {
  color: $span-color;
}

a {
  text-decoration: none;
  color: #000;
}

.top-bar {
  background: $top-bar-bg;
  min-height: 100px;
  color: $top-bar-bg-text;
  border-bottom-left-radius: 70px;
}

.top-bar-container,
.company-site-info,
.job-title-content-btn,
.light-dark-mode,
.search-form {
  display: $global-flex;
  justify-content: $global-justify-content;
  align-items: center;
}

.top-bar-container {
  padding-top: 30px;
}

.toggle-bar {
  background: #fff;
  width: 55px;
  height: 22px;
  border-radius: 10px;
  padding: 5px;
}

.toggle {
  width: 12px;
  height: 12px;
  background: rgb(32, 121, 255);
  border-radius: 100%;
  cursor: $global-cursor;
  float: left;
  position: relative;
  border: none;
}

.light-dark-mode img {
  width: 18px;
  height: 18px;
  margin: 0px 5px;
}

.comp-logo {
  width: 20%;
}

.company-job-description {
  width: 50%;
  overflow: hidden;
  margin: auto;
}

.company-job-description,
.job-search-bar {
  position: relative;
  top: -30px;
}

.company-site-content {
  min-height: 130px;
  display: $global-flex;
}

.company-site-content,
.job-description-content {
  background: #fff;
}

.company-name {
  width: 20%;
  background: rgb(255, 142, 13);
  color: #fff;
  text-align: center;
}

h4 {
  font-size: $h4-font-size;
}

.company-name h4 {
  padding-top: 55px;
}

.company-site-info {
  width: 80%;
  padding: 20px;
}

.btn {
  padding: 7px 12px;
  border: none;
  border-radius: 5px;
  cursor: $global-cursor;
}

.btn:hover {
  background: #000;
  color: #fff;
}

.comp-btn {
  background: rgb(189, 220, 255);
  color: rgb(0, 10, 97);
}

.job-description-content,
footer {
  margin: 30px 0px;
  padding: 20px;
}

h1 {
  font-size: 1.4rem;
}

.job-title p:nth-child(1),
.each-job-list p:nth-child(1) {
  color: rgb(131, 131, 131);
  font-size: 0.85rem;
}

.job-title h1 {
  line-height: 1.5;
  letter-spacing: 1.5px;
}

.time {
  text-decoration: none;
  padding-left: 20px;
  font-size: 0.9rem;
  color: rgb(131, 131, 131);
}

.time::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background: rgb(131, 131, 131);
  border-radius: 100%;
  margin: 5px 5px 0px -14px;
}

.job-btn,
.search-btn {
  background: $primary-btn-bg;
  color: #fff;
}

.job-btn {
  margin-bottom: 10px;
}

.job-description-text,
.job-requirements {
  margin: 30px 0px;
}

.job-requirements p {
  padding: 20px 0px;
}

.requirements-list {
  width: 90%;
}

.requirements-list,
.job-search-bar {
  margin: auto;
}

.requirements-list li {
  margin: 7px;
}

footer,
.job-search-bar {
  background: #fff;
}

.job-search-bar,
.job-listing {
  width: 80%;
  height: fit-content;
}

.form-control {
  width: 33.33%;
  height: 50px;
  border: 1px solid #eee;
  padding: 10px;
}

.search-bar {
  width: 100%;
  height: inherit;
  border: none;
  border-color: none;
  padding: 8px;
}

.search-bar:focus {
  outline: none;
}

.search-bar::placeholder {
  opacity: 1;
}

.form-control,
.inner-form-control {
  display: $global-flex;
  justify-content: space-evenly;
  align-items: center;
}

.form-control p {
  margin-left: 5px;
}

.form-control img {
  width: 20px;
  height: 20px;
}

.inner-form-control {
  width: 50%;
}

.job-listing {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  margin: 50px auto;
}

.each-job-list {
  background: #fff;
  width: 100%;
  min-height: 200px;
  padding: 15px;
  margin-bottom: 20px;
  transition: 0.5s;

  img {
    width: 40px;
    height: 40px;
    position: relative;
    top: -30px;
    border-radius: 10px;
  }

  h4 {
    margin: 20px 0px 5px 0px;
    cursor: pointer;
  }

  h4:hover {
    text-decoration: underline;
  }

  .country {
    margin: 25px 0px 5px 0px;
  }
}

.each-job-list:hover {
  box-shadow: 10px 10px 5px 0px rgba(196, 196, 196, 0.75);
  transform: translateY(-5px);
}

@media screen and (max-width: 956px) {
  h4 {
    font-size: 1rem;
  }

  .inner-form-control {
    width: 80%;
  }

  .company-job-description {
    width: 70%;
  }

  h1 {
    font-size: 1.3rem;
  }
}

.comp {
  color: #000;
}

@media screen and (max-width: 875px) {
  .job-listing {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 800px) {
  .job-listing {
    grid-template-columns: auto auto;
  }

  .only {
    display: none;
  }

  .company-job-description {
    width: 75%;
  }

  h1 {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 700px) {
  .inner-form-control p {
    font-size: 0.8rem;
  }

  .search-btn {
    padding: 5px;
    font-size: 0.65rem;
  }
}

@media screen and (max-width: 550px) {
  .job-listing {
    grid-template-columns: 1fr;
  }

  .search-form {
    flex-direction: column;
  }

  .job-search-bar {
    background: none;
  }

  .form-control {
    width: 100%;
    margin: 10px auto;
    border: none;
    background: #fff;
    justify-content: space-between;
  }

  .inner-form-control {
    width: 30%;
  }

  .inner-form-control p {
    font-size: 0.85rem;
  }

  .search-btn {
    padding: 5px 8px;
    font-size: 0.8rem;
  }

  .company-job-description {
    width: 80%;
  }

  h1 {
    font-size: 1rem;
  }
}
